<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%p] %d{dd MMM hh:mm:ss.SSS aa} %t [%c]%n%m%n%n"/>
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.FileAppender">  
        <param name="File" value="f:/log4j1.log"/>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern"  
          value="%d - %c -%-4r [%t] %-5p %x - %m%n" />  
        </layout>  
    </appender> 
    
    <logger name="org.quartz">
        <level value="info" />
    </logger>
    
    <logger name="com.kingmed">
        <level value="info" />
    </logger>
    <root>
        <level value="info" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

  
</log4j:configuration>
